@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Itim&family=Markazi+Text:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Distressed&family=Rubik+Wet+Paint&display=swap');
*{
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #ff558e, #ff4699, #ff37a7, #ff26b8, #ff14ca, #f52eda, #e940ea, #db4ff9, #bf66ff, #a276ff, #8782ff, #6e8bff); 
}

navbar{
  display: flex;
  justify-content:space-evenly;
  height: 3rem;
  align-content: center;
  align-items: flex-end;
}

nav{
    a{
        text-decoration: none;
        padding-right: 1rem;
    }
}

/* .my-name-container{
  margin: 0px;
  padding: 0px;
} */
 /* body{
  background-image: linear-gradient(to bottom, #ff558e, #ff4699, #ff37a7, #ff26b8, #ff14ca, #f52eda, #e940ea, #db4ff9, #bf66ff, #a276ff, #8782ff, #6e8bff);
 }  */
 /* h1{
  border: rgb(0, 0, 0) double 4px;
  margin-right: 1200px;
 }
 p{
  font-size: medium;
 }
 a{
  text-decoration: none;
 }
 img{
  width: 200px;
 } */
 
 

 

