@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Itim&family=Markazi+Text:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Distressed&family=Rubik+Wet+Paint&display=swap');
 *{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
  }
.my-name-container{
    margin: 0px;
    padding: 0px;
}
.image-section{
    height: ;
}

main{
    display: flex;
    margin: 5rem;
    gap: 6rem; 
    justify-content: space-evenly;
    align-items: center;
}
navbar{
    display: flex;
    justify-content:space-evenly;
    height: 3rem;
    align-content: center;
    align-items: flex-end;
    
}
nav{
    a{
        text-decoration: none;
        padding-right: 1rem;
    }
}
button{
    height: 2rem;
    width: 6rem;
    border: none;
    background-color: #0000ff8c;
    border-radius: 10px;
    color: white;
    font-weight: 4aaaa00;
}