<<<<<<< Updated upstream
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #ff558e, #ff4699, #ff37a7, #ff26b8, #ff14ca, #f52eda, #e940ea, #db4ff9, #bf66ff, #a276ff, #8782ff, #6e8bff); 
=======
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100;
    padding: 5px;
  margin: 5px;
  margin-top: auto;
  margin-left: auto;
  font-size: larger;
}

body{
  background-image: linear-gradient(to left, #66ace9, #3443c6, #595d79, #6298bb, #63d8eb);
  background-image: linear-gradient(to left, #3255c5, #005ba5, #0085c2, #16afd8, #63d8eb);
} 

p{
  font-size: small;
}

a{
  text-decoration: none;
  font-size: large;
>>>>>>> Stashed changes
}

navbar{
  display: flex;
  justify-content:space-evenly;
  height: 3rem;
  align-content: center;
  align-items: flex-end;
}

nav{
    a{
        text-decoration: none;
        padding-right: 1rem;
    }
}
